# raw and processed data, model weights, logs, etc.
/data/
/models/

# machine-specific environment settings
/.env

# Python cache
__pycache__/
.pytest_cache/

# virtualenv
/venv/

# editors
/.vscode/

# clojure
.calva/
.clj-kondo/
.cpcache/
.lsp/